/* For Webkit-based browsers (Chrome, Safari and Opera) */

.scrollbar-hide {
  scrollbar-gutter: stable;
}

.scrollbar-hide::-webkit-scrollbar {
  /* display: none; */
  width: 8px;
}
.scrollbar-hide::-webkit-scrollbar-track {
  background: #ffffff35;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #ffffff70;
}
.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: #cfcfcf;
}

/* For IE, Edge and Firefox */
/* .scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: auto;
} */
